In [8]:
import pandas as pd

pd.set_option("display.max_columns", 30)

# Bank profits

In [2]:
# Pre-tax profits of the 1,000 largest banks in 2007 and 2011
bank_profits = pd.read_csv("bank-profits.csv")
bank_profits

                       region     2007     2011
0                Asia Pacific  148.554  410.718
1      Middle East and Africa   33.012   49.530
2               Latin America   19.650   49.530
3  Central and Eastern Europe   14.148   25.908
4              Western Europe  363.132   48.006
5               North America  208.290  178.308

In [20]:
bank_profits.to_clipboard()

# Australia and gender

Several measures of gender balance in Australia's government.

In [3]:
gender_annual = pd.read_csv("aus-gender-balance-over-time.csv")
gender_annual

   Year  Number of boards  Number of positions  Number of women  Number of men
0  2018               339                 2530             1158           1372
1  2017               337                 2508             1072           1436
2  2016               332                 2351              953           1395
3  2015               361                 2570             1005           1565
4  2014               387                 3206             1272           1934

In [4]:
gender_dept = pd.read_csv("aus-gender-balance-2018-by-department.csv")
gender_dept

,Portfolio,Number of boards,Number of positions,Number of women
0,Agriculture and Water Resources,19,97,42
1,Attorney-General's,6,39,17
2,Communications and the Arts,26,167,89
3,Defence,25,147,67
4,Education and Training,15,94,48
5,Environment and Energy,15,102,50
6,Finance,7,40,17
7,Foreign Affairs and Trade,21,164,83
8,Health,49,539,252
9,Home Affairs,2,21,9
10,Human Services,2,10,5
11,"Infrastructure, Regional Development & Cities",80,610,232
12,Jobs and Innovation,31,234,116
13,Prime Minister and Cabinet,8,51,27
14,Social Services,9,71,43
15,Treasury,24,144,61

In [9]:
gender_new_appt = pd.read_csv("aus-gender-balance-2018-new-appointments.csv")
gender_new_appt

,Portfolio,Number of new appointments,Number of women
0,Agriculture and Water Resources,41,20
1,Attorney-General's,13,7
2,Communications and the Arts,47,30
3,Defence,24,12
4,Education and Training,61,34
5,Environment and Energy,23,14
6,Finance,12,5
7,Foreign Affairs and Trade,41,24
8,Health,101,52
9,Home Affairs,15,7
10,Human Services,4,2
11,"Infrastructure, Regional Development & Cities",79,37
12,Jobs and Innovation,41,23
13,Prime Minister and Cabinet,4,3
14,Social Services,17,9
15,Treasury,19,9

In [17]:
gender_new_appt['pct'] = gender_new_appt['Number of women'] / gender_new_appt['Number of new appointments'] * 100
gender_new_appt['Number of men'] = gender_new_appt['Number of new appointments'] - gender_new_appt['Number of women']

In [18]:
.to_clipboard()

# Political donations

Political donations from OpenSecrets - https://www.opensecrets.org/elections-overview/large-vs-small-donations?cycle=2020&type=C

In [24]:
donations = pd.read_csv("political_donations.csv")
donations.head()

,name,total,from_small_donors,party,clean_name
0,Don Young (R),567883,14015,R,Don Young
1,Al Gross (I),1011219,92283,I,Al Gross
2,Dan Sullivan (R),4438425,46803,R,Dan Sullivan
3,James Averhart (D),22725,150,D,James Averhart
4,Wes Lambert (R),173065,810,R,Wes Lambert

In [23]:
donations.shape

(1078, 5)

In [32]:
donations[donations['party']=='R'].sort_values(by='total', ascending=False)

,name,total,from_small_donors,party,clean_name
1002,John Cornyn (R),13386279,1232119,R,John Cornyn
435,Mitch McConnell (R),12817475,1559897,R,Mitch McConnell
865,Lindsey Graham (R),12171157,2673240,R,Lindsey Graham
213,Cory Gardner (R),8976481,585163,R,Cory Gardner
436,Steve Scalise (R),8803523,3731002,R,Steve Scalise
322,David Perdue (R),8791345,193493,R,David Perdue
485,Susan Collins (R),8556078,816569,R,Susan Collins
60,Martha McSally (R),8354274,2952432,R,Martha McSally
600,Thom Tillis (R),7321116,314912,R,Thom Tillis
33,Tom Cotton (R),6861479,1034976,R,Tom Cotton
442,Bill Cassidy (R),6758513,176185,R,Bill Cassidy
343,Joni Ernst (R),6511901,842545,R,Joni Ernst
109,Devin Nunes (R),5678450,3102309,R,Devin Nunes
111,Kevin McCarthy (R),5459472,849679,R,Kevin McCarthy
24,Roy Moore (R),5315006,2392448,R,Roy Moore
570,Steven Daines (R),5266133,447841,R,Steven Daines
517,John James (R),4706290,1831107,R,John James
2,Dan Sullivan (R),4438425,46803,R,Dan Sullivan
610,Ben Sasse (R),3972395,149748,R,Ben Sasse
25,Bradley Byrne (R),3127685,61177,R,Bradley Byrne
1074,Shelley Moore Capito...,2962036,51678,R,Shelley Moore Capito
585,Dan Bishop (R),2885012,655047,R,Dan Bishop
797,James M Inhofe (R),2865848,48000,R,James M Inhofe
868,Mike Rounds (R),2779966,52815,R,Mike Rounds
887,Dan Crenshaw (R),2722631,807304,R,Dan Crenshaw
883,Manny Sethi (R),2407803,108542,R,Manny Sethi
772,Jim Jordan (R),2397805,1333683,R,Jim Jordan
882,Bill Hagerty (R),1905343,4993,R,Bill Hagerty
687,Lee Zeldin (R),1855879,245159,R,Lee Zeldin
20,Tommy Tuberville (R),1793499,94793,R,Tommy Tuberville
...,...,...,...,...,...
811,Andrew Meehan (R),9160,6242,R,Andrew Meehan
121,Johnny Nalbandian (R),8912,112,R,Johnny Nalbandian
931,Dominick Dina (R),8815,815,R,Dominick Dina
163,Amy Phan West (R),8735,4435,R,Amy Phan West
381,Matt Quigley (R),8647,1813,R,Matt Quigley
200,Casper Stockham (R),8613,4753,R,Casper Stockham
238,Jan Edwards (R),8546,470,R,Jan Edwards
166,Chris Engels (R),8500,0,R,Chris Engels
236,Armani Salado (R),8380,6580,R,Armani Salado
245,Kirk Troen (R),7756,3506,R,Kirk Troen
164,Sou Moua (R),7645,545,R,Sou Moua
133,James Bradley (R),7393,125,R,James Bradley
874,Doug Meyer (R),7364,292,R,Doug Meyer
796,JJ Stitt (R),7352,15,R,JJ Stitt
218,Jonathan Riddle (R),7228,100,R,Jonathan Riddle
534,Joel Novak (R),7050,0,R,Joel Novak
1016,Andy Baan (R),6897,175,R,Andy Baan
39,Mike Ligon (R),6888,0,R,Mike Ligon
1052,Jesse Jensen (R),6825,275,R,Jesse Jensen
352,Mike Fricilone (R),6550,300,R,Mike Fricilone
417,Bryan Pruitt (R),6490,1465,R,Bryan Pruitt
333,Steven Reeder (R),6462,125,R,Steven Reeder
987,Fabian Cordova Vasqu...,5928,2045,R,Fabian Cordova Vasquez
1018,John Collick (R),5829,0,R,John Collick
272,Richard Mendelson (R),5664,1589,R,Richard Mendelson
951,Jeron Liverman (R),5650,0,R,Jeron Liverman
749,Franklin Sager (R),5498,1085,R,Franklin Sager
741,Ola Hawatmeh (R),5448,648,R,Ola Hawatmeh
664,Audra Brown (R),5420,300,R,Audra Brown
1038,Gary Adkins (R),5265,530,R,Gary Adkins

In [33]:
donations[donations['party']=='D'].sort_values(by='total', ascending=False)

,name,total,from_small_donors,party,clean_name
26,Doug Jones (D),30663197,14714025,D,Doug Jones
59,Mark Kelly (D),13887759,6451674,D,Mark Kelly
540,Tina Smith (D),13059148,3728660,D,Tina Smith
431,Amy McGrath (D),10689278,7063667,D,Amy McGrath
1040,Mark Warner (D),9123508,615945,D,Mark Warner
518,Gary Peters (D),9091888,1508353,D,Gary Peters
810,Jeff Merkley (D),7371117,3680250,D,Jeff Merkley
617,Jeanne Shaheen (D),7237728,1709419,D,Jeanne Shaheen
392,Dick Durbin (D),5801164,1242169,D,Dick Durbin
464,Ed Markey (D),5671851,1046334,D,Ed Markey
126,Adam Schiff (D),4377168,1936181,D,Adam Schiff
484,Sara Gideon (D),4236202,1782220,D,Sara Gideon
863,Jaime Harrison (D),3976900,2369533,D,Jaime Harrison
89,Nancy Pelosi (D),3717762,862888,D,Nancy Pelosi
225,Chris Coons (D),3424665,119232,D,Chris Coons
724,Alexandria Ocasio-Co...,3354732,2740940,D,Alexandria Ocasio-Co...
462,Shannon Liss-Riordan...,3220704,0,D,Shannon Liss-Riordan
367,Raja Krishnamoorthi (D),2618032,75441,D,Raja Krishnamoorthi
668,Ben Ray Lujan (D),2606403,656908,D,Ben Ray Lujan
529,Ilhan Omar (D),2532603,1545301,D,Ilhan Omar
632,Josh Gottheimer (D),2506014,51779,D,Josh Gottheimer
846,Jack Reed (D),2492212,56523,D,Jack Reed
161,Katie Porter (D),2441674,642865,D,Katie Porter
84,Josh Harder (D),2370537,220402,D,Josh Harder
710,Max Rose (D),2130499,103808,D,Max Rose
204,John Hickenlooper (D),2125881,459510,D,John Hickenlooper
445,Richard E Neal (D),2061352,6345,D,Richard E Neal
743,Antonio Delgado (D),2047288,216395,D,Antonio Delgado
475,Steny H Hoyer (D),2043387,22383,D,Steny H Hoyer
698,Hakeem Jeffries (D),2037490,35462,D,Hakeem Jeffries
...,...,...,...,...,...
234,Clint Curtis (D),9965,365,D,Clint Curtis
694,Sandra Choi (D),9926,2335,D,Sandra Choi
487,Dana Ferguson (D),9791,4625,D,Dana Ferguson
912,Jon Mark Hogg (D),9767,2724,D,Jon Mark Hogg
979,Jeremy Bravo (D),9419,1320,D,Jeremy Bravo
644,John Flora (D),9059,3410,D,John Flora
947,Liz Wahl (D),9001,2451,D,Liz Wahl
401,Jennifer Christie (D),8841,4037,D,Jennifer Christie
732,Jonathan Ortiz (D),8366,2136,D,Jonathan Ortiz
73,Jeff Burdick (D),8134,734,D,Jeff Burdick
913,Lisa Welch (D),8049,900,D,Lisa Welch
135,David Kim (D),7695,1645,D,David Kim
916,Greg Sagan (D),7672,922,D,Greg Sagan
995,Sema Hernandez (D),7551,7551,D,Sema Hernandez
71,Benjamin Emard (D),7297,685,D,Benjamin Emard
453,Nathaniel Mulcahy (D),7070,67,D,Nathaniel Mulcahy
771,Shannon Freshour (D),7053,1492,D,Shannon Freshour
999,Jack Daniel Foster J...,6957,25,D,Jack Daniel Foster Jr
197,Jillian Freeland (D),6689,2434,D,Jillian Freeland
187,Zachary Fields (D),6292,1425,D,Zachary Fields
869,Chris Rowe (D),6177,2736,D,Chris Rowe
501,Anthony Feig (D),5965,3660,D,Anthony Feig
110,Kim Mangone (D),5872,1838,D,Kim Mangone
357,Brian Burns (D),5791,1615,D,Brian Burns
289,William Haston (D),5721,2911,D,William Haston
944,Jaime Escuder (D),5598,1424,D,Jaime Escuder
701,Alexander Hubbard (D),5483,2838,D,Alexander Hubbard
634,John Hsu (D),5396,646,D,John Hsu
209,Dustin John Leitzel (D),5385,0,D,Dustin John Leitzel
368,Andrew Heldut (D),5069,184,D,Andrew Heldut

In [34]:
donations[donations['party']=='I'].sort_values(by='total', ascending=False)

,name,total,from_small_donors,party,clean_name
1,Al Gross (I),1011219,92283,I,Al Gross
500,Justin Amash (I),444125,136077,I,Justin Amash
88,Agatha Bacelar (I),54175,16486,I,Agatha Bacelar
123,Jennifer Barbosa (I),42303,39014,I,Jennifer Barbosa
1000,Dwayne Stovall (I),38310,8949,I,Dwayne Stovall
959,Stephen Kuzmich (I),37600,1150,I,Stephen Kuzmich
461,Shiva Ayyadurai (I),34896,2881,I,Shiva Ayyadurai
783,Louis G. Lyras (I),15771,2210,I,Louis G. Lyras
342,Suzanne Herzog (I),11391,180,I,Suzanne Herzog
554,Gregorio Sablan (I),9526,0,I,Gregorio Sablan
270,Omar Reyes (I),8741,325,I,Omar Reyes
18,Michael Parrish (I),5116,116,I,Michael Parrish

# Meat production and consumption

In [56]:
#!pip install xlrd

In [55]:
weights = pd.read_excel("SlaughterWeightsFull.xlsx")
weights.head()

      month  Cattle  Calves   Hogs  Sheep and lambs
0  Oct-2019  1360.0   222.0  285.0            124.0
1  Sep-2019  1352.0   216.0  282.0            122.0
2  Aug-2019  1338.0   205.0  279.0            126.0
3  Jul-2019  1326.0   205.0  280.0            127.0
4  Jun-2019  1313.0   223.0  285.0            130.0

In [52]:
consumption = pd.read_excel("Poultry and Livestock Consumption.xlsx")
consumption.head()

,Year,Actual/Forecast,Beef,Pork,Total Red Meat,Broilers,Other Chicken,Total Chicken,Turkey,Total Poultry,Total Red Meat & Poultry,Commercial Fish & Shell-Fish
0,1960,Actual,63.3,59.1,133.0,23.6,4.4,28.0,6.2,34.2,167.2,10.3
1,1965,Actual,74.7,51.5,133.9,32.4,4.0,36.4,7.6,44.0,177.9,10.9
2,1966,Actual,78.1,50.3,135.8,32.1,3.7,35.8,7.9,43.7,179.5,10.9
3,1967,Actual,79.8,55.0,141.6,32.6,4.0,36.7,8.7,45.3,187.0,10.6
4,1968,Actual,82.0,56.2,144.6,32.9,4.0,36.9,8.1,44.9,189.6,11.0

# Powerplants

In [34]:
powerplants = pd.read_csv("powerplants.csv")
powerplants.head(2)

,Plant_Code,Plant_Name,Utility_Na,Utility_ID,sector_nam,City,County,StateName,Zip,Street_Add,PrimSource,Install_MW,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW,source_des,tech_desc,Source,Period,Latitude,Longitude
0,2,Bankhead Dam,Alabama Power Co,195,Electric Utility,Northport,Tuscaloosa,Alabama,35476,19001 Lock 17 Road,hydroelectric,53.9,56.0,0.0,0.0,0.0,NaN,56.0,0.0,0.0,0.0,0.0,NaN,0.0,Hydroelectric = 56 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",201801,33.458665,-87.356823
1,3,Barry,Alabama Power Co,195,Electric Utility,Bucks,Mobile,Alabama,36512,North Highway 43,natural gas,2569.5,2172.5,1100.5,1072.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,"Coal = 1100.5 MW, Natural Gas = 1072 MW",Conventional Steam Coal; Natural Gas Fired Com...,"EIA-860, EIA-860M and EIA-923",201801,31.006900,-88.010300

In [35]:
# How many of each type
powerplants.groupby(['StateName', 'PrimSource']).Total_MW.count().unstack().fillna(0)

PrimSource,biomass,coal,geothermal,hydroelectric,natural gas,nuclear,other,petroleum,pumped storage,solar,wind
StateName,,,,,,,,,,,
Alabama,13.0,3.0,0.0,24.0,25.0,2.0,2.0,3.0,0.0,4.0,0.0
Alaska,1.0,5.0,0.0,26.0,15.0,0.0,3.0,91.0,0.0,0.0,4.0
Arizona,4.0,5.0,0.0,8.0,31.0,1.0,3.0,2.0,3.0,68.0,4.0
Arkansas,9.0,5.0,0.0,19.0,17.0,1.0,0.0,2.0,0.0,3.0,0.0
California,112.0,1.0,33.0,248.0,283.0,1.0,28.0,14.0,7.0,503.0,114.0
Colorado,4.0,9.0,0.0,46.0,28.0,0.0,2.0,11.0,2.0,52.0,25.0
Connecticut,8.0,1.0,0.0,13.0,35.0,1.0,1.0,25.0,1.0,13.0,1.0
Delaware,3.0,1.0,0.0,0.0,10.0,0.0,0.0,3.0,0.0,8.0,1.0
Florida,37.0,8.0,0.0,2.0,62.0,2.0,6.0,7.0,0.0,36.0,0.0
Georgia,27.0,5.0,0.0,27.0,28.0,2.0,2.0,23.0,4.0,41.0,0.0
Hawaii,4.0,1.0,1.0,8.0,0.0,0.0,1.0,17.0,0.0,14.0,7.0
Idaho,12.0,1.0,1.0,75.0,7.0,0.0,1.0,1.0,0.0,8.0,32.0
Illinois,21.0,21.0,0.0,7.0,73.0,6.0,6.0,33.0,0.0,4.0,32.0
Indiana,18.0,17.0,0.0,5.0,25.0,0.0,9.0,9.0,0.0,56.0,14.0
Iowa,5.0,15.0,0.0,3.0,34.0,1.0,0.0,90.0,0.0,3.0,89.0
Kansas,2.0,6.0,0.0,1.0,59.0,1.0,1.0,33.0,0.0,3.0,33.0
Kentucky,10.0,12.0,0.0,10.0,14.0,0.0,0.0,1.0,0.0,4.0,0.0
Louisiana,10.0,3.0,0.0,1.0,52.0,2.0,11.0,2.0,0.0,1.0,0.0
Maine,20.0,0.0,0.0,51.0,7.0,0.0,1.0,6.0,0.0,2.0,17.0
Maryland,12.0,7.0,0.0,2.0,15.0,1.0,2.0,8.0,0.0,47.0,5.0
Massachusetts,13.0,0.0,0.0,29.0,37.0,1.0,1.0,18.0,2.0,230.0,19.0
Michigan,35.0,15.0,0.0,53.0,63.0,3.0,0.0,27.0,1.0,10.0,24.0
Minnesota,19.0,13.0,0.0,21.0,31.0,2.0,3.0,62.0,0.0,91.0,124.0
Mississippi,5.0,2.0,0.0,0.0,29.0,1.0,1.0,2.0,0.0,5.0,0.0
Missouri,5.0,14.0,0.0,5.0,37.0,1.0,1.0,38.0,3.0,13.0,8.0
Montana,1.0,5.0,0.0,23.0,5.0,0.0,3.0,1.0,0.0,6.0,13.0
Nebraska,3.0,10.0,0.0,10.0,31.0,1.0,0.0,25.0,0.0,3.0,21.0
Nevada,2.0,2.0,25.0,6.0,16.0,0.0,1.0,1.0,0.0,27.0,1.0
New Hampshire,11.0,2.0,0.0,34.0,4.0,1.0,0.0,5.0,0.0,0.0,4.0
New Jersey,16.0,2.0,0.0,2.0,48.0,3.0,2.0,4.0,1.0,183.0,2.0
New Mexico,1.0,3.0,1.0,4.0,22.0,0.0,2.0,4.0,0.0,45.0,20.0
New York,36.0,4.0,0.0,162.0,90.0,5.0,1.0,34.0,2.0,50.0,23.0
North Carolina,30.0,10.0,0.0,39.0,18.0,3.0,1.0,45.0,1.0,478.0,1.0
North Dakota,1.0,9.0,0.0,1.0,2.0,0.0,2.0,8.0,0.0,0.0,32.0
Ohio,19.0,14.0,0.0,5.0,40.0,2.0,11.0,43.0,0.0,18.0,15.0
Oklahoma,3.0,6.0,0.0,10.0,29.0,0.0,0.0,6.0,1.0,5.0,48.0
Oregon,22.0,1.0,2.0,65.0,13.0,0.0,1.0,0.0,0.0,29.0,40.0
Pennsylvania,36.0,21.0,0.0,17.0,49.0,5.0,7.0,30.0,2.0,23.0,25.0
Rhode Island,3.0,0.0,0.0,2.0,7.0,0.0,0.0,2.0,0.0,10.0,10.0
South Carolina,18.0,6.0,0.0,31.0,18.0,4.0,0.0,14.0,3.0,18.0,0.0
South Dakota,0.0,1.0,0.0,4.0,8.0,0.0,0.0,9.0,0.0,1.0,11.0
Tennessee,6.0,6.0,0.0,28.0,9.0,2.0,0.0,3.0,1.0,9.0,2.0
Texas,22.0,18.0,0.0,24.0,159.0,2.0,13.0,5.0,0.0,36.0,152.0
Utah,4.0,6.0,3.0,29.0,22.0,0.0,1.0,2.0,0.0,29.0,5.0
Vermont,4.0,0.0,0.0,46.0,0.0,0.0,0.0,7.0,0.0,31.0,5.0
Virginia,33.0,8.0,0.0,23.0,26.0,2.0,0.0,36.0,1.0,21.0,0.0
Washington,17.0,1.0,0.0,73.0,16.0,1.0,4.0,3.0,0.0,0.0,21.0
West Virginia,0.0,10.0,0.0,12.0,4.0,0.0,2.0,0.0,0.0,0.0,6.0
Wisconsin,28.0,10.0,0.0,60.0,38.0,1.0,1.0,25.0,0.0,14.0,12.0
Wyoming,0.0,12.0,0.0,16.0,9.0,0.0,3.0,2.0,0.0,0.0,21.0

In [36]:
# How much power from each type
powerplants.groupby(['StateName', 'PrimSource']).Total_MW.sum().unstack().fillna(0)

PrimSource,biomass,coal,geothermal,hydroelectric,natural gas,nuclear,other,petroleum,pumped storage,solar,wind
StateName,,,,,,,,,,,
Alabama,713.0,4350.9,0.0,3270.2,15909.5,5060.4,19.8,26.6,0.0,172.2,0.0
Alaska,7.0,173.6,0.0,464.1,1285.0,0.0,45.0,714.0,0.0,0.0,53.5
Arizona,30.7,5965.9,0.0,2679.4,13447.0,3937.0,36.0,18.0,257.8,2009.1,237.8
Arkansas,330.4,5116.0,0.0,1294.7,6117.2,1817.8,0.0,12.0,0.0,94.0,0.0
California,1281.8,57.0,1865.8,10445.4,39591.2,2240.0,403.7,371.5,3663.2,10953.9,5851.2
Colorado,28.7,4290.7,0.0,695.9,6666.2,0.0,9.3,167.8,554.0,461.3,3095.6
Connecticut,203.5,400.4,0.0,120.6,3151.1,2087.8,26.0,2817.0,29.4,30.6,1.1
Delaware,12.2,426.1,0.0,0.0,2822.3,0.0,0.0,83.0,0.0,32.2,2.0
Florida,1279.2,9358.0,0.0,54.5,37740.2,4720.0,348.7,3697.5,0.0,789.3,0.0
Georgia,1021.2,9271.0,0.0,1310.4,16532.0,4061.0,85.0,1024.2,2599.0,976.9,0.0
Hawaii,218.3,180.0,43.0,26.9,0.0,0.0,26.6,1877.2,0.0,116.8,226.6
Idaho,89.2,8.5,10.0,2708.9,1118.5,0.0,14.8,5.4,0.0,240.0,970.5
Illinois,117.2,14273.3,0.0,24.1,14104.8,11577.4,206.9,583.3,0.0,33.6,4278.8
Indiana,83.5,16231.5,0.0,60.4,6177.7,0.0,704.3,168.5,0.0,196.7,2109.4
Iowa,21.4,5473.2,0.0,144.9,3655.2,601.4,0.0,783.4,0.0,6.9,7141.9
Kansas,9.0,4790.2,0.0,7.0,4702.4,1225.0,0.8,307.7,0.0,3.2,5117.8
Kentucky,72.2,11099.8,0.0,1146.9,7772.6,0.0,0.0,11.9,0.0,15.2,0.0
Louisiana,611.6,3542.9,0.0,192.0,15013.3,2132.9,699.7,1549.7,0.0,1.6,0.0
Maine,711.9,0.0,0.0,707.5,1655.6,0.0,22.0,899.0,0.0,5.6,921.6
Maryland,144.8,5124.9,0.0,590.0,4794.7,1707.8,13.0,357.1,0.0,165.7,190.0
Massachusetts,273.1,0.0,0.0,265.4,6475.6,677.2,3.9,1917.4,1768.0,609.4,91.7
Michigan,559.1,9045.2,0.0,262.4,11190.7,4170.8,0.0,359.2,2133.0,73.0,1727.8
Minnesota,452.7,4321.8,0.0,199.5,5109.2,1657.0,16.6,623.2,0.0,536.5,3692.5
Mississippi,274.7,800.0,0.0,0.0,13451.7,1401.0,1.4,25.0,0.0,160.6,0.0
Missouri,13.5,12107.8,0.0,518.7,5338.3,1190.0,1.0,1006.2,684.0,41.1,954.3
Montana,3.0,2311.3,0.0,2747.8,375.6,0.0,45.5,52.0,0.0,17.0,678.5
Nebraska,10.9,4096.9,0.0,277.7,1818.4,771.5,0.0,306.2,0.0,9.8,1417.4
Nevada,9.8,740.4,528.1,1051.4,7046.2,0.0,6.5,6.0,0.0,1829.7,150.0
New Hampshire,197.9,627.6,0.0,504.8,1635.0,1249.1,0.0,43.4,0.0,0.0,183.1
New Jersey,226.4,463.0,0.0,12.3,11556.3,4146.3,13.1,334.0,420.0,638.5,7.6
New Mexico,3.4,2634.0,1.6,82.7,3292.8,0.0,4.1,52.4,0.0,514.8,1764.5
New York,524.1,1640.6,0.0,4725.0,21467.5,5390.7,20.0,3105.8,1406.1,145.4,1824.7
North Carolina,567.4,10162.4,0.0,1887.3,11144.4,5117.6,54.0,365.5,173.7,3254.1,208.0
North Dakota,9.8,4131.4,0.0,510.0,431.6,0.0,13.7,59.2,0.0,0.0,3073.0
Ohio,157.0,14798.7,0.0,101.9,11451.5,2134.0,240.1,491.2,0.0,70.1,605.9
Oklahoma,76.2,4922.2,0.0,861.6,13736.5,0.0,0.0,47.5,258.0,18.0,7494.8
Oregon,308.4,585.0,19.5,8423.2,3733.1,0.0,5.0,0.0,0.0,226.7,3210.2
Pennsylvania,498.3,12770.7,0.0,899.6,15435.8,9797.0,138.2,1552.4,1583.0,50.8,1389.8
Rhode Island,40.1,0.0,0.0,2.7,1797.6,0.0,0.0,18.0,0.0,18.7,51.8
South Carolina,520.8,5264.5,0.0,1367.7,5949.3,6576.2,0.0,231.4,2716.0,231.6,0.0
South Dakota,0.0,474.6,0.0,1598.0,1028.6,0.0,0.0,188.6,0.0,1.0,837.8
Tennessee,194.4,7656.1,0.0,2618.6,4176.7,4522.7,0.0,48.2,1616.3,86.3,29.1
Texas,428.1,21700.0,0.0,670.0,68569.7,4960.0,471.7,92.6,0.0,1222.7,22615.7
Utah,12.8,4691.7,73.0,256.4,2677.3,0.0,8.4,23.0,0.0,857.1,388.2
Vermont,74.3,0.0,0.0,343.2,0.0,0.0,0.0,93.1,0.0,76.2,150.2
Virginia,899.7,3831.4,0.0,1102.6,11359.1,3569.0,0.0,3515.8,3003.0,369.3,0.0
Washington,417.2,1340.0,0.0,21632.2,3395.1,1177.0,7.4,18.5,0.0,0.0,3073.6
West Virginia,0.0,12569.0,0.0,349.5,1194.3,0.0,33.5,0.0,0.0,0.0,718.3
Wisconsin,333.4,7333.3,0.0,383.1,6554.1,1207.6,21.1,683.9,0.0,20.9,426.5
Wyoming,0.0,6445.6,0.0,307.1,229.3,0.0,115.7,4.7,0.0,0.0,1487.3

In [37]:
# How much of one or two or three types
powerplants.groupby(['StateName', 'PrimSource']).Total_MW.sum().unstack().fillna(0)[['nuclear', 'coal']]

PrimSource      nuclear     coal
StateName
Alabama          5060.4   4350.9
Alaska              0.0    173.6
Arizona          3937.0   5965.9
Arkansas         1817.8   5116.0
California       2240.0     57.0
Colorado            0.0   4290.7
Connecticut      2087.8    400.4
Delaware            0.0    426.1
Florida          4720.0   9358.0
Georgia          4061.0   9271.0
Hawaii              0.0    180.0
Idaho               0.0      8.5
Illinois        11577.4  14273.3
Indiana             0.0  16231.5
Iowa              601.4   5473.2
Kansas           1225.0   4790.2
Kentucky            0.0  11099.8
Louisiana        2132.9   3542.9
Maine               0.0      0.0
Maryland         1707.8   5124.9
Massachusetts     677.2      0.0
Michigan         4170.8   9045.2
Minnesota        1657.0   4321.8
Mississippi      1401.0    800.0
Missouri         1190.0  12107.8
Montana             0.0   2311.3
Nebraska          771.5   4096.9
Nevada              0.0    740.4
New Hampshire    1249.1    627.6
New Jersey       4146.3    463.0
New Mexico          0.0   2634.0
New York         5390.7   1640.6
North Carolina   5117.6  10162.4
North Dakota        0.0   4131.4
Ohio             2134.0  14798.7
Oklahoma            0.0   4922.2
Oregon              0.0    585.0
Pennsylvania     9797.0  12770.7
Rhode Island        0.0      0.0
South Carolina   6576.2   5264.5
South Dakota        0.0    474.6
Tennessee        4522.7   7656.1
Texas            4960.0  21700.0
Utah                0.0   4691.7
Vermont             0.0      0.0
Virginia         3569.0   3831.4
Washington       1177.0   1340.0
West Virginia       0.0  12569.0
Wisconsin        1207.6   7333.3
Wyoming             0.0   6445.6

# Population

In [40]:
# All counties in the US
# Note the calculated FIPS-Code column
population_county = pd.read_csv("population-county.csv")
population_county.head()

,GIS Join Match Code,NHGIS Integrated State Name,FIPS State Code,NHGIS Integrated State Code,county_name,FIPS County Code,NHGIS Integrated County Code,1790: Persons: Total,1800: Persons: Total,1810: Persons: Total,1820: Persons: Total,1830: Persons: Total,1840: Persons: Total,1850: Persons: Total,1860: Persons: Total,...,1880: Persons: Total,1890: Persons: Total,1900: Persons: Total,1910: Persons: Total,1920: Persons: Total,1930: Persons: Total,1940: Persons: Total,1950: Persons: Total,1960: Persons: Total,1970: Persons: Total,1980: Persons: Total,1990: Persons: Total,2000: Persons: Total,2010: Persons: Total,FIPS-Code
0,G0100010,Alabama,1,10,Autauga County,1,10,NaN,NaN,NaN,3853.0,11874.0,14342.0,15023.0,16739.0,...,13108.0,13330.0,17915.0,20038.0,18908.0,19694.0,20977.0,18186.0,18739.0,24460.0,32259.0,34222.0,43671.0,54571.0,1001
1,G0100030,Alabama,1,10,Baldwin County,3,30,NaN,NaN,NaN,1713.0,2324.0,2951.0,4414.0,7530.0,...,8603.0,8941.0,13194.0,18178.0,20730.0,28289.0,32324.0,40997.0,49088.0,59382.0,78556.0,98280.0,140415.0,182265.0,1003
2,G0100050,Alabama,1,10,Barbour County,5,50,NaN,NaN,NaN,NaN,NaN,12024.0,23632.0,30812.0,...,33979.0,34898.0,35152.0,32728.0,32067.0,32425.0,32722.0,28892.0,24700.0,22543.0,24756.0,25417.0,29038.0,27457.0,1005
3,G0100070,Alabama,1,10,Bibb County,7,70,NaN,NaN,NaN,NaN,6306.0,8284.0,9969.0,11894.0,...,9487.0,13824.0,18498.0,22791.0,23144.0,20780.0,20155.0,17987.0,14357.0,13812.0,15723.0,16576.0,20826.0,22915.0,1007
4,G0100090,Alabama,1,10,Blount County,9,90,NaN,NaN,NaN,2415.0,4233.0,5570.0,7367.0,10865.0,...,15369.0,21927.0,23119.0,21456.0,25538.0,28020.0,29490.0,28975.0,25449.0,26853.0,36459.0,39248.0,51024.0,57322.0,1009

In [42]:
# Just counties in NYC
population_nyc = pd.read_csv("population-county-nyc.csv")
population_nyc.head()

,GIS Join Match Code,NHGIS Integrated State Name,FIPS State Code,NHGIS Integrated State Code,county_name,FIPS County Code,NHGIS Integrated County Code,1790: Persons: Total,1800: Persons: Total,1810: Persons: Total,1820: Persons: Total,1830: Persons: Total,1840: Persons: Total,1850: Persons: Total,1860: Persons: Total,...,1880: Persons: Total,1890: Persons: Total,1900: Persons: Total,1910: Persons: Total,1920: Persons: Total,1930: Persons: Total,1940: Persons: Total,1950: Persons: Total,1960: Persons: Total,1970: Persons: Total,1980: Persons: Total,1990: Persons: Total,2000: Persons: Total,2010: Persons: Total,FIPS-Code
0,G3600050,New York,36,360,Bronx County,5,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,732016.0,1265258.0,1394711.0,1451277.0,1424815.0,1471701.0,1168972.0,1203789.0,1332650.0,1385108.0,36005
1,G3600470,New York,36,360,Kings County,47,470,4549.0,5740.0,8303.0,11187.0,20535.0,47613.0,138882.0,279122.0,...,599495.0,838547.0,1166582.0,1634351.0,2018356.0,2560401.0,2698285.0,2738175.0,2627319.0,2602012.0,2230936.0,2300664.0,2465326.0,2504700.0,36047
2,G3600610,New York,36,360,New York County,61,610,33111.0,60515.0,96373.0,123706.0,202589.0,312710.0,515547.0,813669.0,...,1206299.0,1515301.0,2050600.0,2762522.0,2284103.0,1867312.0,1889924.0,1960101.0,1698281.0,1539233.0,1428285.0,1487536.0,1537195.0,1585873.0,36061
3,G3600810,New York,36,360,Queens County,81,810,16013.0,16916.0,19336.0,21519.0,22460.0,30324.0,36833.0,57391.0,...,90574.0,128059.0,152999.0,284041.0,469042.0,1079129.0,1297634.0,1550849.0,1809578.0,1986473.0,1891325.0,1951598.0,2229379.0,2230722.0,36081
4,G3600850,New York,36,360,Richmond County,85,850,3827.0,4564.0,5347.0,6135.0,7082.0,10965.0,15061.0,25492.0,...,38991.0,51693.0,67021.0,85969.0,116531.0,158346.0,174441.0,191555.0,221991.0,295443.0,352121.0,378977.0,443728.0,468730.0,36085